/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

.date {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(35% - 12px); /* Adjusting width to fit in line */
}

.delete-btn, #addStayPeriod {
    font-size: 16px;
    padding: 10px 12px; /* Smaller padding */
    width: auto; /* Auto width for icon buttons */
    background-color: transparent;
    color: black;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

#calculate {
    padding: 12px 25px;
    background-color: #007BFF; /* Bright blue to stand out */
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 20px; /* Extra spacing */
    display: block; /* Ensure it takes full width available */
}

.date-range {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
